@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #2563EB;
  --color-secondary: #4F46E5;
  --color-accent: #06B6D4;
}

body {
  font-family: "Inter", sans-serif;
}

::selection {
  background-color: #2563EB;
  color: #FFFFFF;
}
